%p
  %b Godown entry:
  = @object.godown_entry_id
%p
  %b Product:
  = @object.product_id
%p
  %b Terminal code:
  = @object.terminal_code
%p
  %b Model:
  = @object.model
%p
  %b Sn code:
  = @object.sn_code
%p
  %b Price:
  = @object.price
%p
  %b Items:
  = @object.items
%p
  %b Amount:
  = @object.amount
%p
  %b Status:
  = @object.status

= link_to 'Edit', edit_godown_item_path(@object)
\|
= link_to 'Back', godown_items_path
