%p
  %b Company name:
  = @object.partner_name
%p
  %b Contact:
  = @object.contact
%p
  %b Tel:
  = @object.tel
%p
  %b Email:
  = @object.email
%p
  %b Qq:
  = @object.qq
%p
  %b Status:
  = @object.status

= link_to 'Edit', edit_partner_path(@object)
\|
= link_to 'Back', partners_path
