%h1 Listing account_balances

%table
  %tr
    %th Account
    %th Balance before
    %th Amount
    %th Balance
    %th Payment
    %th
    %th
    %th

  - @account_balances.each do |account_balance|
    %tr
      %td= account_balance.account_id
      %td= account_balance.balance_before
      %td= account_balance.amount
      %td= account_balance.balance
      %td= account_balance.payment_id
      %td= link_to 'Show', account_balance
      %td= link_to 'Edit', edit_account_balance_path(account_balance)
      %td= link_to 'Destroy', account_balance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account balance', new_account_balance_path
