= simple_form_for(@object) do |f|
  = f.error_notification


  .form-inputs
    = f.input :order_number
    = f.association :partner
    = f.input :contact_name
    = f.input :contact_tel
    = f.input :contact_email
    = f.input :notes

  .form-actions
    = f.submit '提交', class: 'btn btn-default'
