.toolbox
  = toolbox_button '新出库', new_order_path
  = link_to '批量导入出库单', prepare_import_orders_path

%ul.nav.nav-tabs
  %li{class: "#{params[:cat] ? '' : 'active'}"}
    = link_to "新出库单", orders_path
  %li{class: "#{params[:cat] ? 'active' : ''}"}
    = link_to '全部', orders_path + "?cat=1"
        
- amount = tot_amount = 0.00
- count = 0
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 订单日期
      %th 订单号
      %th 代理商
      %th 联系人
      %th 数量
      %th 金额
      %th 未付款金额
      %th 备注
      %th 状态
      %th 操作

  %tbody
    - @collection.each do |order|
      - amount += order.balance
      - tot_amount += order.total_amount
      - count += 1
      %tr
        %td= order.order_date
        %td= order.order_number
        %td= order.partner.partner_name if order.partner
        %td= order.contact_name
        %td.num= order.total_items
        %td.num= number_with_delimiter order.total_amount
        %td.num= number_with_delimiter order.balance
        %td= order.notes
        %td= status_text order
        %td
          = link_to '详情', order
          |
          = link_to '修改', edit_order_path(order)
  %tfoot
    %tr
      %td{colspan: 4} 合计
      %td.num= count
      %td.num= number_with_delimiter tot_amount
      %td.num= number_with_delimiter amount
