.toolbox
  = form_tag stock_in_order_path(@object) do
    = submit_tag '入库'
    = link_to '订单列表', orders_path
    \|
    = link_to '修改', edit_order_path(@object)
    - if @object.status == 0
      \|
      = link_to '删除', @object, :method => :delete, :data => { :confirm => 'Are you sure?' }


%p
  %b 订单日期:
  = @object.order_date
%p
  %b 订单号:
  = @object.order_number
%p
  %b 品牌:
  = @object.provider.name if @object.provider
%p
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 终端编号
      %th 型号
      %th 主机SN
      %th 单价
      %th 手机号
      %th 状态
      %th 操作

  %tbody
    - @object.order_items.each do |item|
      %tr
        %td= item.t_code
        %td= item.model
        %td= item.sn_code
        %td= item.price
        %td= item.mobile_number
        %td= item.status
        %td
          = link_to 'Show', item
          |
          = link_to 'Edit', edit_order_item_path(item)
          |
          = link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %tfoot
    %tr
      %td{colspan: 3} 合计数量: #{@object.total_items}
      %td 合计金额: #{@object.total_amount}
      %td{colspan: 2} 状态: #{@object.status}


%p


