%h1 Listing payments

%table
  %tr
    %th Partner
    %th Account
    %th Amount
    %th Notes
    %th
    %th
    %th

  - @payments.each do |payment|
    %tr
      %td= payment.partner_id
      %td= payment.account_id
      %td= payment.amount
      %td= payment.notes
      %td= link_to 'Show', payment
      %td= link_to 'Edit', edit_payment_path(payment)
      %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
