%p#notice= notice

%p
  %b Partner:
  = @payment.partner_id
%p
  %b Account:
  = @payment.account_id
%p
  %b Amount:
  = @payment.amount
%p
  %b Notes:
  = @payment.notes

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
