.toolbox
  .input-group
    %span.input-group-addon 终端编号
    = text_field_tag 't_code', '', class: "form-control filter", placeholder: "终端编号"
%table.table.table-bordered.table-striped.table-hover.search-table
  %tr
    %th Order
    %th T code
    %th Model
    %th Sn code
    %th Price
    %th Mobile number
    %th Status

  - @collection.each do |order_item|
    %tr
      %td= order_item.order_id
      %td= order_item.t_code
      %td= order_item.model
      %td= order_item.sn_code
      %td= order_item.price
      %td= order_item.mobile_number
      %td= order_item.status

%br

= link_to 'New Order item', new_order_item_path
