%p
  %b Order:
  = @object.order_id
%p
  %b T code:
  = @object.terminal_code
%p
  %b Model:
  = @object.model
%p
  %b Sn code:
  = @object.sn_code
%p
  %b Price:
  = @object.price
%p
  %b Mobile number:
  = @object.mobile_number
%p
  %b Status:
  = @object.status

= link_to 'Edit', edit_order_item_path(@object)
\|
= link_to 'Back', order_items_path
