= simple_form_for(@object) do |f|
  = f.error_notification

  .form-inputs
    = f.input :godown_number
    = f.association :product
    Excel文件包含以下几列数据：型号 | 终端号 | 机身序号 | 价格 | 数量 |
    = f.input :import_text, as: :text

  .form-actions
    = f.button :submit
