%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 型号
      %th 终端号
      %th 机身编号
      %th 价格
      %th 数量
      %th 金额
      %th 状态
  %tbody
    - @object.godown_items.each do |godown_item|
      %tr
        %td= godown_item.product.name if godown_item.product
        %td= best_in_place godown_item, :terminal_code, type: :input
        %td= best_in_place godown_item, :sn_code, type: :input
        %td= best_in_place godown_item, :price, type: :input
        %td= best_in_place godown_item, :items, type: :input
        %td= godown_item.amount
        %td= status_text(godown_item)
  %tfoot
    %tr
      %td{colspan: 4} 合计：
      %td= @object.total_items
      %td= @object.total_amount
      %td= status_text(@object)
    %tr
      %td{colspan: 4} &nbsp;
      %td{colspan: 3}
        制单人：
        = @object.creator.display_name if @object.creator

