%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 终端号
      %th 型号
      %th 机身编号
      %th 价格
      %th 数量
      %th 金额
      %th 状态
      %th
  %tbody
    - @object.godown_items.each do |godown_item|
      %tr
        %td= godown_item.terminal_code
        %td= godown_item.model
        %td= godown_item.sn_code
        %td= godown_item.price
        %td= godown_item.items
        %td= godown_item.amount
        %td= status_text(godown_item)
        %td
          = link_to '详情', godown_item
          |
          = link_to '修改', edit_godown_item_path(godown_item)
          |
          = link_to '删除', godown_item, :method => :delete, :data => { :confirm => '你确定删除吗？' }
  %tfoot
    %tr
      %td{colspan: 4} 合计：
      %td= @object.total_items
      %td= @object.total_amount
      %td= status_text(@object)
      %td 
        制单人：
        = @object.creator.display_name if @object.creator

