
.toolbox
  = toolbox_button '新增入库单', new_godown_entry_path

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th 入库单号
    %th 数量
    %th 金额
    %th 状态
    %th 操作人
    %th 备注
    %th

  - @collection.each do |godown_entry|
    %tr
      %td= godown_entry.godown_number
      %td.num= godown_entry.total_items
      %td.num= number_with_delimiter godown_entry.total_amount
      %td= status_text(godown_entry)
      %td= godown_entry.creator
      %td= godown_entry.notes
      %td
        = link_to '详情', godown_entry
        |
        = link_to '修改', edit_godown_entry_path(godown_entry)
        |
        = link_to '删除', godown_entry, :method => :delete, :data => { :confirm => '确定删除吗？' }


