%p
  %b 单号:
  = @object.godown_number
  %b 仓库：
  = @object.warehouse.name if @object.warehouse

.toolbox
  = link_to '列表', godown_entries_path
  |
  = link_to '修改', edit_godown_entry_path(@object)
  |
  = link_to '检查', check_godown_entry_path(@object)
  |
  = link_to '入库', do_import_godown_entry_path(@object)

= render partial: 'items'
