.toolbox= link_to 'New Product', new_product_path

%h1 产品列表

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 名称
      %th 类型
      %th 出货价格
      %th 状态
      %th

  %tbody
    - @collection.each do |product|
      %tr
        %td= product.name
        %td= product.catalog
        %td= best_in_place product, :sale_price, :type => :input
        %td= product.status
        %td
          = link_to '详情', product
          |
          = link_to '修改', edit_product_path(product)
          |
          = link_to '删除', product, :method => :delete, :data => { :confirm => '你确定删除吗？' }

