.toolbox
  = link_to '新增仓库', new_warehouse_path

%table.table.table-bordered
  - @collection.each do |warehouse|
    %tr
      %td
        [#{warehouse.name} 仓库 (#{warehouse.status})]
        |
        = link_to '详情', warehouse
        |
        = link_to '修改', edit_warehouse_path(warehouse)
        |
        = link_to '删除', warehouse, :method => :delete, :data => { :confirm => '你确定删除吗？' }
    %tr
      %td
        %table.table.table-bordered.table-striped.table-hover
          - ProductsWarehouses.where(warehouse_id: warehouse).each do |pw|
            - next unless pw.product && pw.store_item != 0
            %tr
              %td= pw.product.name if pw.product
              %td= pw.store_item
              %td= pw.product.sale_price if pw.product
              %td= pw.updated_at
              %td= link_to '进出库流水', product_warehouse_path(pw)


