%h1 Listing accounts

%table
  %tr
    %th Partner
    %th Current balance
    %th
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.partner_id
      %td= account.current_balance
      %td= link_to 'Show', account
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
