
- tot_amount = 0.00
%table.table.table-bordered.table-striped.table-hover.search-table
  %thead
    %tr
      %th 合作伙伴
      %th 联系人
      %th 电话
      %th QQ
      %th Email
      %th 未付货款
      %th 更新日期

  %tbody
    - @collection.each do |account|
      - tot_amount += account.balance
      %tr
        %td= link_to account.partner.partner_name, account
        %td= best_in_place account.partner, :contact, type: :input
        %td= best_in_place account.partner, :tel, type: :input
        %td= best_in_place account.partner, :qq, type: :input
        %td= best_in_place account.partner, :email, type: :input
        %td.num= number_with_delimiter account.balance
        %td= account.updated_at
  %tfoot
    %tr
      %td{colspan: 5} 合计：
      %td.num= number_with_delimiter tot_amount
