.toolbox
  = link_to 'Back', accounts_path

- if @object.partner
  %p
    %b 合作伙伴：
    = @object.partner.partner_name

    %b 联系人：
    = best_in_place @object.partner, :contact, type: :input

    %b 电话：
    = best_in_place @object.partner, :tel, type: :input

    %b QQ：
    = best_in_place @object.partner, :qq, type: :input

    %b Email：
    = best_in_place @object.partner, :email, type: :input

%p
  %b 当前余额：
  = @object.balance

=render 'account_history'
